* {
    margin: 0;
    /* border: solid; */
    border-color: rgb(255, 185, 80);
    box-sizing: border-box;
    border-width: 1px;
}

:root {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
}

/* Header */
h1 {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 600%;
    text-align: left;
    font-style: oblique;
    width: 100%;
}


/* Navigation Menu */
a {
    list-style-type: none;
    padding: 5px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 3%;
    line-height: 35px;
}

ul {
    padding-inline-start: 0%;
}

/* Body */
/* Grid/Flex */
.flex-container {
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    margin-left: 18%;
}

/* Individual Items */
.flex-item {
    flex-shrink: 1;
    align-items: flex-start;
    margin: 3.5%;
    max-width: 450px;
    padding: 20px;
}

.flex-item:nth-child(odd) {
    margin-left: 20px;
}


/* Contents */
/* Personal Image */
.personal-img {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}


/* Text */
/* Subheadings */
h3 {
    font-family: 'Matroska-RppG6.ttf', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300px;
    padding-bottom: 3%;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 200;
}

/* Paragraph Text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}


article {
    margin-left: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.image-two {
    filter: saturate(0);
    width: 200px;
}

.work-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
    padding-top: 15px;
}


/* Footer */
footer {
    background-color: white;
    height: 150px;
}

h5, .footer-text {
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}


/* EFFECTS */
/* Button HOVERS - Header, Navigation Bar and Contact */
h1:hover {
        text-shadow: 2px 3px rgb(255, 0, 149);
}

a:hover {
    color: rgb(255, 0, 149);
    cursor: grab;
}

.image-two:hover {
    filter: saturate(100%);
    transition: 0.4s;
}


/* Button CLICKED */
a:active {
    font-style: oblique;
}


/* VIEW AND SIZES */
/* Portrait iPhone */
@media only screen {
    min-device-width: 414px;
    max-device-width: 736px;
    webkit-min-device-pixel-ratio: 2;
    orientation: portrait;
}

/* Smaller screens */
/* Small Laptop #1  -  940px */
@media screen and (max-width: 940px) {
    h1 {
        font-size: 450%;
    }

    nav ul {
        padding-top: 3%;
}

    a {
        font-size: 15px;
    }
}

/* Big iPad #2  -  750px */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 300%;
    }

    a {
        font-size: 17px;
    }
}

@media screen and (max-width: 615px) {


}

/* Small iPad #3  -  650px */
@media screen and (max-width: 650px) {
    h1 {
        font-size: 300%;
    }

    nav ul {
        padding: 4%;
    
    }

    .flex-container {
        display: grid;
        flex-direction: row;
        align-items: flex-start;
        grid-template-columns: 100%;
        margin-top: 30px;
        margin-left: 18%;
        /* margin-bottom: 100px; */
    }

    .flex-item {
        margin-bottom: 8%;
    }
}

/* 1 Column */
/* Just Bigger Than iPhone  -  500px */ */
    @media screen and (max-width: 500px) {
    .flex-item {
        margin-bottom: 15%;
    }
}

/* iPhone  --  350 - 420px */
    @media screen and (max-width: 420px) {
        .flex-container {
            margin-left: 0%;
        }

        .flex-item {
            padding: 0;
        }

        .personal-img {
            margin:0%;
        }

        article {
            margin:3.5%;
            margin-right: 15%;
            margin-left: 0%;
            padding: 12px;
            width: 100%;
        }
    }


/* Navigation Bar */
@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }

/* Card / Section 1 */
    .card {
        flex-direction: column;
    }

    /* S-Dru-Carly */
    .column {
        width: 100%;
      }
}