* {
    margin: 15px;
    /* border: solid; */
    border-color: coral;
    box-sizing: border-box;
}

h1 {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 600%;
    text-align: left;
    margin-right: 30px;
    font-style: oblique;
    position: fixed;
    top: 20px;
    width: 100%;
}

/* Navigation Menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    margin-top: 150px;
    width: 40px;
} 
  
li a {
    display: block;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color:black;
}

/* article {
    float: right;
    /* margin-right: px;
} */

.card {
    float:right;
    width: 35%;
    text-align: left;
    flex: 1 0 200px;
}

    /* flex: 1 0 200px;
    padding: 10px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
  } */



p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

li {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Portrait iPhone */
@media only screen {
    min-device-width: 414px;
    max-device-width: 736px;
    webkit-min-device-pixel-ratio: 2;
    orientation: portrait;
}

section {
    flex: 1;
}