* {
    margin: 0;
    /* border: solid; */
    border-color: rgb(255, 185, 80);
    box-sizing: border-box;
    border-width: 1px;
    background-color: white;
}

:root {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
}

/* Header */
h1 {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 600%;
    text-align: left;
    font-style: oblique;
    width: 100%;
}


/* Navigation Menu */
a {
    list-style-type: none;
    padding: 5px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 3%;
    line-height: 35px;
}

ul {
    padding-inline-start: 0%;
}

/* Body */
/* Grid/Flex */
.flex-container {
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    margin-left: 9%;
}

/* Individual Items */
.flex-item {
    flex-shrink: 1;
    align-items: flex-start;
    margin: 8%;
    /* margin: 3.5%; */
    max-width: 450px;
    /* padding: 20px; */
}

.flex-item:nth-child(odd) {
    margin-left: 20px;
}


/* Contents */
/* Personal Image */
.personal-img {
    max-width: 100%;
}


/* Text */
/* Subheadings */
h3 {
    font-family: 'Matroska-RppG6.ttf', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300px;
    padding-bottom: 3%;
    text-transform: uppercase;
}

h4 {
    font-family:monospace;
    font-size: 20px;
    margin-left: 35px;
    padding-top: 15px;
    padding-bottom: 8px;
}

h6 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: right;
    /* Incase font - New and imported */
    /* font-family: 'Inter', sans-serif; */
}

.sub-heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
}

/* Paragraph Text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}

.resume-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.explanation-heading {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    /* font-style: oblique; */
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    color: rgb(255, 0, 149);
}

.resume-explanation {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.pdf-style {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin: 0;
}


article {
    font-family: ;
    margin-left: 9%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.portfolio-image {
    filter: saturate(0);
    max-width: 100%;
    max-height: 800px;
    margin-left: 0%;
}

/* Portfolio piece description. */
.work-info {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    padding-top: 5px;
}


/* Footer */
footer {
    background-color: white;
    height: 150px;
}

h5, .footer-text {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}


/* EFFECTS */
/* Button HOVERS - Header, Navigation Bar and Contact */
/* h1:hover {
        text-shadow: 2px 3px rgb(255, 0, 149);
} */

/* Heading effects */
a:hover {
    color: rgb(255, 0, 149);
    cursor: grab;
}

h1:hover {
    color: violet;
}

.portfolio-image:hover {
    filter: saturate(100%);
    transition: 0.4s;
}

/* Button CLICKED */
a:active {
    font-style: oblique;
}


/* VIEW AND SIZES */
/* Portrait iPhone */
@media only screen {
    orientation: portrait;
}


/* Smaller screens */
/* Small Laptop #1  -  940px */
@media screen and (max-width: 940px) {
    h1 {
        font-size: 450%;
    }

    nav ul {
        padding-top: 3%;
}

    a {
        font-size: 15px;
    }
}

/* Big iPad #2  -  750px */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 300%;
    }

    a {
        font-size: 17px;
    }

    /* Card / Section 1 */
    .card {
        flex-direction: column;
    }

    .column {
        width: 100%;
      }
}


/* Small iPad #3  -  650px */
@media screen and (max-width: 650px) {
    h1 {
        font-size: 300%;
    }

    nav ul {
        padding: 4%;
    }

    .flex-container {
        display: grid;
        flex-direction: row;
        align-items: flex-start;
        grid-template-columns: 100%;
        margin-top: 30px;
        margin-left: 4%;
        /* margin-bottom: 100px; */
    }

    .flex-item {
        margin-bottom: 9.5%;
        padding:0%;
    }

    article {
        margin: 30px;
    }
}

/* 1 Column */
/* Just Bigger Than iPhone  -  500px */ */
    @media screen and (max-width: 590px) {
    .flex-item {
        margin-bottom: 15%;
    }

    .flex-container {
        margin-left: 4%;
    }

    .portfolio-image {
        filter: saturate(100);
    
}

/* iPhone  --  350 - 420px */
    @media screen and (max-width: 590px) {
        .flex-container {
            margin-left: 0%;
        }

        .flex-item {
            padding: 0;
            margin-top: 45px;
            margin-bottom: 45px;
        }

        h3 {
            font-size: 20px;
        }

        .personal-img {
            margin:0%;
        }

        article {
            margin:3.5%;
            margin-right: 15%;
            margin-left: 0%;
            padding: 12px;
            width: 100%;
        }

        .work-info {
            padding-top: 25px;
        }
    }


/* Navigation Bar */
@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }
}